* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background: #e3e8ed;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.painel {
    height: 100dvh;
    width: 100dvw;
    background: #e3e8ed;
    display: none;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.periodo {
    background: #1e3a8a;
    min-width: 60%;
    height: 90%;
    margin: 2rem .5rem .5rem .5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 5rem .5rem .5rem .5rem;
    position: relative;
    border-radius: .5rem;
    border: 2px solid #e2e8f0;
    color: #f1f5f9;
    overflow-y: scroll;
    gap: 1rem;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
.periodo:first-child {
    margin: 2rem 0 .5rem 3rem;
}
.materia {
    padding: 0.5rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    color: #f1f5f9;
    position: relative;
    padding-bottom: 3rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border: 2px solid transparent;
}

.materia p:nth-of-type(2) {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .5rem 0;
    border-radius: 0 0 .4rem .4rem;
    font-weight: bold;
    color: #f9fafb;
}

/* Estilos para cada tipo */
.materia.geral {
    background-color: #16a34a; /* Verde mais vibrante */
    border-color: #15803d;
}
.materia.geral p:nth-of-type(2) {
    background: #15803d;
}

.materia.curso {
    background-color: #2563eb; /* Azul vibrante */
    border-color: #1d4ed8;
}
.materia.curso p:nth-of-type(2) {
    background: #1d4ed8;
}

.materia.optativa {
    background-color: #f97316; /* Laranja mais quente */
    border-color: #ea580c;
}
.materia.optativa p:nth-of-type(2) {
    background: #ea580c;
}

.materia.estagio {
    background-color: #facc15;
    border-color: #eab308;
    color: #444;
}
.materia.estagio p:nth-of-type(2) {
    background: #eab308;
}

.materia.tcc {
    background-color: #8b5cf6; /* Roxo moderno */
    border-color: #7c3aed;
}
.materia.tcc p:nth-of-type(2) {
    background: #7c3aed;
}

.materia.especifica {
    background-color: #d946ef; /* Magenta vibrante */
    border-color: #c026d3;
}
.materia.especifica p:nth-of-type(2) {
    background: #c026d3;
}



.materia p {
    text-align: center;
    word-wrap: break-word;
}

.top {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    color: #facc15; 
    font-weight: bold;
}
.detalhes-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 2;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.detalhes-conteudo {
    background-color: #f1f5f9;
    padding: 2rem;
    border-radius: 8px;
    color: #000;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#fecharDetalhes {
    margin-top: 1rem;
    background-color: #ef4444;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: .5rem;
}

#fecharDetalhes:hover {
    background-color: #dc2626;
}
.notificacao {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ef4444;
    color: #fff;
    font-size: .8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
}





/* Seletor */
.seletor {
    background-color: #ffffff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.seletor h2 {
    color: #1e3a8a;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

/* Estilo para os campos de seleção (input, select) */
.seletor label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #333;
    display: inline-block; 
    margin: 0.5rem; 
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* Estilo para o campo select */
.seletor select {
    padding: 0.75rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #444;
    background-color: #fff;
    width: 100%;
    transition: border-color 0.3s ease;
}

.seletor select:focus {
    border-color: #1e3a8a;
    outline: none;
}



.materia-checkbox-container label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 1rem;
    background-color: #f9fafb;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.materia-checkbox-container label:hover {
    background-color: #e2e8f0;
    transform: scale(1.05);
}
.todosLabel{
    margin: 0;
   
}
.seletor h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1e3a8a;
    margin: -1rem 0;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

/* Estilo de foco nos checkboxes */
.materia-checkbox-container input[type="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(30, 58, 138, 0.5);
}
.materias-container{
    margin-top: -1rem;
 
}
.materia.bloqueada {
    background-color: #dc2626; /* Vermelho para indicar bloqueio */
    border-color: #b91c1c; /* Borda vermelho mais escuro */
    color: #f9fafb; /* Texto claro */
}

.materia.bloqueada p:nth-of-type(2) {
    background: #b91c1c; /* Fundo do texto com vermelho escuro */
    color: #f9fafb; /* Texto claro */
}

.materia.cumprida {
    background-color: #e5e7eb; /* Cinza claro para tarefa concluída */
    border-color: #d1d5db; /* Borda cinza */
    color: #4b5563; /* Texto cinza escuro */
}

.materia.cumprida p:nth-of-type(2) {
    background: #d1d5db; /* Fundo do texto com cinza */
    color: #4b5563; /* Texto escuro */
}

.materia.pendente {
    background-color: #22c55e; /* Verde para indicar tarefa pendente */
    border-color: #15803d; /* Borda verde mais escuro */
    color: #f1f5f9; /* Texto claro */
}

.materia.pendente p:nth-of-type(2) {
    background: #15803d; /* Fundo do texto com verde escuro */
    color: #f1f5f9; /* Texto claro */
}


.seletor.hidden {
    display: none; /* Oculta o seletor */
}

.modalidade {
    display: flex;
    justify-content: center;
}
/* Botão de alternância */
#toggleMode {
    margin-top: 2rem ;
    background-color: #043E7D; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
#toggleMode:hover {
    background-color: #0369a1; 
    transform: scale(1.05); 
}

/* Alteração de cor ao clicar */
#toggleMode:active {
    background-color: #02456a; 
    transform: scale(0.98); 
}




.periodo.cumprido {
    overflow-y: hidden; /* Impede o scroll apenas nos períodos cumpridos */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    z-index: 10;
    pointer-events: none; /* Permite que o conteúdo abaixo seja clicável se necessário */
}
