:root {
    --main-color: #043E7D;
    --sombra-escura: #0b56a0; 
    --sombra-clara: #01477a;
    --degrade-prim: #0766b7;
    --degrade-sec: #032d54;
}

* {
    box-sizing: border-box;
}
body {
    width: 100%;
    background: #e3e8ed;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #043E7D;
    color: white;
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    position: relative;
}

.nav-logo {
    font-size: 20px;
    font-weight: bold;
}

/* Estilo do botão sanduíche */
.menu-sanduiche {
    cursor: pointer;
    position: relative;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

/* Menu dropdown */
.menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 45px;
    right: 0;
    background-color: #043E7D;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.menu-content a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    white-space: nowrap;
}

.menu-content a:hover {
    background-color: #0369a1;
}

#mainCard{
    background: #ccc;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(var(--degrade-prim), var(--degrade-sec));
    padding: 1rem;
    box-sizing: border-box;
   
}

.login-card {
    background: white;
    padding: 3.5rem 2rem 2rem 2rem;
    border-radius: .8rem;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    width: 100%;
    text-align: center;
    margin: 0 .6rem;
    position: relative;
}

.login-card h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--main-color);
}

.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.form-group input {
    width: 100%;
    padding: .6rem;
    border: 1px solid #ccc;
    border-radius: .3rem;
    outline: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    background-color: white;
    
}

.form-group label {
    position: absolute;
    left: .8rem;
    top: 50%; 
    transform: translateY(-50%);
    font-size: 1rem;
    color: #888;
    pointer-events: none;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: var(--main-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: -1rem;
    left: 0;
    font-size: .8rem;
    color: var(--main-color);
    transform: translateY(0);
}

button {
    width: 100%; 
    padding: .8rem;
    border: none;
    border-radius: .3rem;
    background-color: #28a745;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}
.profile-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    position: absolute;
    top: -4rem;
    left: 50%;
    border: 5px solid #fff;
    transform: translateX(-50%)
}

.profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social-login {
    margin-top: 1.5rem;
}

.social-login a {
    margin: 0 10px;
    font-size: 1.5rem;
    color: var(--main-color);
    text-decoration: none;
    transition: color 0.3s;
}

.social-login a:hover {
    color: #218838;
}
.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #888;
  font-size: 1.2rem;
}
.forgot-password {
    display: block;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: var(--main-color); /
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.forgot-password:hover {
    color: #218838; 
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}
.signIn{
    display: block;
    margin-top: .5rem;
    font-size: 0.9rem;
    color: var(--main-color); /
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

.signIn:hover {
    color: #218838; 
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}
#messageDiv{
    display: flex;
    justify-content: flex-start;
    margin: -1rem 0 0 0;
    color: #888;
}